@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root {
    --bg: #f8f8f8;
    --fg: #111;
    --theme-steps: #9150f1 0%, #4d50f1 25%, #44cbf1 50%, #69ffa1 75%, #27fe58 100%;
    --theme-gradient: linear-gradient(135deg, var(--theme-steps));
    color: var(--fg);
    background: var(--bg);
    font-family: 'Inter', sans-serif;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #112;
        --fg: #f8f8f8;
    }    
}

button, input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: inherit;
    border: 1px solid var(--fg);
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0.5em 0;
    font-weight: bold;
}
button {
    cursor: pointer;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
button:active:not(:disabled) {
    transform: scale(0.95);
}
button:hover {
    background: var(--theme-gradient);
    background-clip: border-box;
    background-repeat: no-repeat;
    color: #111;
    border-color: var(--bg);
}
input:focus-visible, textarea:focus-visible, button:focus-visible {
    outline: 2px solid #4d7cff;
}


#peer-form {
    z-index: 1000;
    background: var(--bg);
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}
[hidden] {
    display: none;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
    display: block;
    border-radius: 4px;
}
dialog {
    background-color: var(--bg);
    color: var(--fg);
    border: 1px solid var(--fg);
    border-radius: 4px;
    flex-direction: column;
    align-items: stretch;
}
dialog[open] {
    display: flex;
}
::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em;
    gap: 0.5em;
}
.bar button {
    flex: auto;
}
.video-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.2em 1fr min-content;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    overflow: hidden;
}
:user-invalid {
    border-color: red;
}

#status.ready {
    color: #980;
}
#status.error {
    color: red;
}
#status.connected {
    color: #060;
}
@media (prefers-color-scheme: dark) {
    #status.ready {
        color: #ff0;
    }
    #status.connected {
        color: #0f2;
    }
}
*, *::before, *::after {
    box-sizing: border-box;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}
hr {
    color: currentColor;
}